# Q1 (a)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel("C://Users//HAO LIN//OneDrive//Desktop//MFE//Courses//Term 1//FM 9528//Assignments//Assignment 1//DataClean2021_update_data_1.xlsx", sheet_name= "2021")
df2 = pd.read_excel("C://Users//HAO LIN//OneDrive//Desktop//MFE//Courses//Term 1//FM 9528//Assignments//Assignment 1//DataClean2021_update_data_1.xlsx", sheet_name = "YieldCurves")

In [3]:
#remove first column of df1
df1 = df1.iloc[: , 1:]

In [4]:
#replace purchasedate as date in order to merge two dataframe
df1=df1.rename(columns = {'PurchaseDate':'Date'})

In [5]:
#use nr instead of paymentperiod
df1=df1.rename(columns = {'PaymentPeriod':'Number'})

In [6]:
#remove first column of df2
df2 = df2.iloc[: , 1:]

In [7]:
#replace paymentperiod as numbers 1, 2, 4
def f(row):
    if row["Number"] == 'Annually':
        val = 1
    elif row["Number"] == 'SemiAnnually':
        val = 2
    else:
        val = 4
    return val
#another way to translate payment period to numbers
#df1.replace(['Quarterly', 'SemiAnnually', 'Annually'], [4, 2, 1], inplace=True)  
df1['Number'] = df1.apply(f, axis=1)

In [14]:
df1

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate
0,2018-12-12,122.100715,1,0.088347,0.048157,2,101000,Yes,0.088347
1,2018-12-12,65.558537,2,0.125639,0.085450,5,83000,Yes,0.062820
2,2018-12-12,89.527186,2,0.067280,0.027090,5,95000,Yes,0.033640
3,2018-12-12,90.784587,2,0.067107,0.026917,5,86000,Yes,0.033553
4,2018-12-12,113.345120,1,0.074391,0.034201,2,104000,Yes,0.074391
...,...,...,...,...,...,...,...,...,...
124804,2005-09-07,107.266264,1,0.119937,0.071007,15,104000,Yes,0.119937
124805,2005-09-07,87.826566,2,0.068989,0.020059,31,100000,Yes,0.034494
124806,2005-09-07,109.102035,1,0.063815,0.014886,15,101000,Yes,0.063815
124807,2005-09-07,77.202560,2,0.085065,0.036136,31,98000,Yes,0.042533
124808,2005-09-07,81.911740,2,0.077403,0.028474,31,99000,Yes,0.038702

In [15]:
#merge both datafram so we don't have to extract rates from yield curves
df = pd.merge(df1, df2, on= 'Date')

In [16]:
df

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate,025YR,...,2775YR,2800YR,2825YR,2850YR,2875YR,2900YR,2925YR,2950YR,2975YR,3000YR
0,2018-12-12,122.100715,1,0.088347,0.048157,2,101000,Yes,0.088347,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
1,2018-12-12,65.558537,2,0.125639,0.085450,5,83000,Yes,0.062820,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
2,2018-12-12,89.527186,2,0.067280,0.027090,5,95000,Yes,0.033640,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
3,2018-12-12,90.784587,2,0.067107,0.026917,5,86000,Yes,0.033553,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
4,2018-12-12,113.345120,1,0.074391,0.034201,2,104000,Yes,0.074391,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124804,2005-09-07,107.266264,1,0.119937,0.071007,15,104000,Yes,0.119937,0.027868,...,0.042114,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786
124805,2005-09-07,87.826566,2,0.068989,0.020059,31,100000,Yes,0.034494,0.027868,...,0.042114,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786
124806,2005-09-07,109.102035,1,0.063815,0.014886,15,101000,Yes,0.063815,0.027868,...,0.042114,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786
124807,2005-09-07,77.202560,2,0.085065,0.036136,31,98000,Yes,0.042533,0.027868,...,0.042114,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786
124808,2005-09-07,81.911740,2,0.077403,0.028474,31,99000,Yes,0.038702,0.027868,...,0.042114,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786

In [17]:
#present_value function gives the discounted value of all remaining coupons and principal
def present_value (rfrs, spr, c, m, n):
    
    #rsf is risk free rate series(from 0.25 year to 30.00 years)
    #spr is spread
    #c is coupon rate 
    #m is the total number of coupons
    #n is number of coupon payments per year         
            
    denominator = np.zeros(m)
    for i in range(0, m):
        denominator[i] = denominator[i] + (1 + spr + (rfrs[int(4*(i+1)/n) -1])/n)**(i+1)
        #denominator is a numpy arrary that contains all denominators
    
    p0 = sum(c/denominator) + 1/denominator[-1]
    return p0*100

In [18]:
def bisection(f,a,b,N):
    
    '''
    Parameters
    ----------
    f : function
        The function for which we are trying to approximate a solution f(x)=0.
        In this case, it is present value - p0 = 0
    a,b : numbers
        The interval in which to search for a solution. 
    N : (positive) integer
        The number of iterations to implement. 
    -------
    '''
    #check boundary value
    if abs(f(a)) <= 0.007: #I can't go smaller and higher than 0.007 might not give the precise result
        return a
    if abs(f(b)) <= 0.007:
        return b    
    
    while f(b) >= 0.007:
        b = b - 1
        if abs(f(b)) <= 0.007:
            return b
        if b<2:
            v = np.zeros(b-a)
            for i in range(0,b-a):
                v[i] = v[i] + abs(f(i+a))
            return (np.argmin(v)+ a)
         
    a_n = a
    b_n = b
                      
    for n in range(1,N+1):
        
        m_n = round((a_n + b_n)/2)
            
        if abs(f(m_n)) <= 0.007:
            return m_n
        if abs(f(m_n - 1)) <= 0.007:
            return (m_n - 1)
        if abs(f(m_n + 1)) <= 0.007:
            return (m_n + 1)
        
        #this is from tuturial 2, but this is not the case for some bonds(not sure)
        if f(m_n) < 0:
            a_n = a_n
            b_n = m_n
        
        elif f(m_n) >= 0:
            a_n = m_n
            b_n = b_n
        
        else:
            if round((a_n+b_n)/2) == (a_n+ b_n)/2:
                return (round((a_n+b_n)/2))
            else:
                if abs(f(int((a_n + b_n)/2 + 0.5))) >= abs(f(int((a_n + b_n)/2 - 0.5))):
                    return (int((a_n + b_n)/2 - 0.5))
                elif abs(f(int((a_n + b_n)/2 + 0.5))) <= abs(f(int((a_n + b_n)/2 - 0.5))):
                        return (int((a_n + b_n)/2 + 0.5))
                else:
                    return None

In [19]:
#function g applies bisection function above on f, with 3 cases.
def g(row):
    rfrsr = row[" 025YR" : " 3000YR"]
    sprr  = row["Spread"]
    nr  = row["Number"]
    cr =    row["CouponRate"]
    f = lambda x: present_value(rfrsr, sprr, cr, x , nr) - row["PriceAtCoupon0(%)"]
    if nr == 1:
        return(bisection(f,1,30,6))
    if nr == 2: 
        return(bisection(f,1,60,7))
    if nr == 4:
        return(bisection(f,1,120,8))

In [20]:
#testing with first 100 bonds
df_test = df.iloc[0:100]
df_test

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate,025YR,...,2775YR,2800YR,2825YR,2850YR,2875YR,2900YR,2925YR,2950YR,2975YR,3000YR
0,2018-12-12,122.100715,1,0.088347,0.048157,2,101000,Yes,0.088347,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
1,2018-12-12,65.558537,2,0.125639,0.085450,5,83000,Yes,0.062820,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
2,2018-12-12,89.527186,2,0.067280,0.027090,5,95000,Yes,0.033640,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
3,2018-12-12,90.784587,2,0.067107,0.026917,5,86000,Yes,0.033553,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
4,2018-12-12,113.345120,1,0.074391,0.034201,2,104000,Yes,0.074391,0.016468,...,0.022829,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2016-08-08,60.436943,2,0.118290,0.092970,10,101000,Yes,0.059145,0.005108,...,0.017518,0.017495,0.017473,0.017452,0.017432,0.017413,0.017394,0.017377,0.017360,0.017345
96,2016-08-08,72.696302,2,0.064571,0.039251,10,113000,Yes,0.032286,0.005108,...,0.017518,0.017495,0.017473,0.017452,0.017432,0.017413,0.017394,0.017377,0.017360,0.017345
97,2016-08-08,110.978709,1,0.074467,0.049146,5,90000,Yes,0.074467,0.005108,...,0.017518,0.017495,0.017473,0.017452,0.017432,0.017413,0.017394,0.017377,0.017360,0.017345
98,2016-08-08,65.480465,2,0.098451,0.073130,10,106000,Yes,0.049225,0.005108,...,0.017518,0.017495,0.017473,0.017452,0.017432,0.017413,0.017394,0.017377,0.017360,0.017345
99,2016-08-08,73.975347,2,0.067487,0.042167,10,103000,Yes,0.033744,0.005108,...,0.017518,0.017495,0.017473,0.017452,0.017432,0.017413,0.017394,0.017377,0.017360,0.017345

In [21]:
#apply bisection method for the first 100 bonds
df_test['TotalCoupons'] = df_test.apply(g, axis=1)
df_test.iloc[: , -1]

C:\ANACONDA3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0     30
1     54
2     54
3     40
4      9
      ..
95    50
96    48
97    19
98    32
99    36
Name: TotalCoupons, Length: 100, dtype: int64

In [22]:
#Now apply bisection on all 12,000 bonds. This might takes a few minites to run through
df['TotalCoupons'] = df.apply(g, axis=1)
df_backup = df
df.iloc[: , -1]

0         30.0
1         54.0
2         54.0
3         40.0
4          9.0
          ...
124804    22.0
124805    42.0
124806    22.0
124807    52.0
124808    44.0
Name: TotalCoupons, Length: 124809, dtype: float64

In [23]:
#as a back up file, so if I mess up, i dont have to run it again.
dfb = df
dfb

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate,025YR,...,2800YR,2825YR,2850YR,2875YR,2900YR,2925YR,2950YR,2975YR,3000YR,TotalCoupons
0,2018-12-12,122.100715,1,0.088347,0.048157,2,101000,Yes,0.088347,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,30.0
1,2018-12-12,65.558537,2,0.125639,0.085450,5,83000,Yes,0.062820,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,54.0
2,2018-12-12,89.527186,2,0.067280,0.027090,5,95000,Yes,0.033640,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,54.0
3,2018-12-12,90.784587,2,0.067107,0.026917,5,86000,Yes,0.033553,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,40.0
4,2018-12-12,113.345120,1,0.074391,0.034201,2,104000,Yes,0.074391,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124804,2005-09-07,107.266264,1,0.119937,0.071007,15,104000,Yes,0.119937,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,22.0
124805,2005-09-07,87.826566,2,0.068989,0.020059,31,100000,Yes,0.034494,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,42.0
124806,2005-09-07,109.102035,1,0.063815,0.014886,15,101000,Yes,0.063815,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,22.0
124807,2005-09-07,77.202560,2,0.085065,0.036136,31,98000,Yes,0.042533,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,52.0
124808,2005-09-07,81.911740,2,0.077403,0.028474,31,99000,Yes,0.038702,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,44.0

In [27]:
#df_negative stores those bonds where calculated maturity is less or equal to current coupon numbers, which does not make sense
df_negative = df[df['TotalCoupons'] <= df['CurrentCouponNumbers']]
df_negative.iloc[: , -1]

307       21.0
810        1.0
3119      40.0
3282      40.0
7908      23.0
          ...
119523    42.0
121016    35.0
121358     1.0
122212    42.0
122790    43.0
Name: TotalCoupons, Length: 94, dtype: float64

In [26]:
## Brute-force method, this is slower but it will only use for 481 bonds.

def h(row):
    rfrsr = row[" 025YR" : " 3000YR"]
    sprr  = row["Spread"]
    nr  = row["Number"]
    cr =    row["CouponRate"]
    f = lambda x: present_value(rfrsr, sprr, cr, x , nr) - row["PriceAtCoupon0(%)"]
    if nr == 1:
        v = np.zeros(30)
        for i in range(0,30):
            v[i] = v[i] + abs(f(i+1))
        return (np.argmin(v)+1)
            
    if nr == 2: 
        v = np.zeros(60)
        for i in range(0,60):
            v[i] = v[i] + abs(f(i+1))
        return (np.argmin(v)+1)
    if nr == 4:
        v = np.zeros(120)
        for i in range(0,120):
            v[i] = v[i] + abs(f(i+1))
        return (np.argmin(v)+1)

In [28]:
#apply h function to those 94 negative bonds to get a 
df_negative['TotalCoupons'] = df_negative.apply(h, axis = 1)
df_negative.iloc[: , -1]

C:\ANACONDA3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

307       29
810       50
3119      54
3282      54
7908      28
          ..
119523    52
121016    54
121358    40
122212    52
122790    54
Name: TotalCoupons, Length: 94, dtype: int64

In [29]:
#see if there are any bonds that has current coupon numbers larger than total number of coupons
df_negative[df_negative['TotalCoupons'] <= df_negative['CurrentCouponNumbers']]

Empty DataFrame
Columns: [Date, PriceAtCoupon0(%), Number, YearlyRate, Spread, CurrentCouponNumbers, FaceValue, Corporate, CouponRate,  025YR,  050YR,  075YR,  100YR,  125YR,  150YR,  175YR,  200YR,  225YR,  250YR,  275YR,  300YR,  325YR,  350YR,  375YR,  400YR,  425YR,  450YR,  475YR,  500YR,  525YR,  550YR,  575YR,  600YR,  625YR,  650YR,  675YR,  700YR,  725YR,  750YR,  775YR,  800YR,  825YR,  850YR,  875YR,  900YR,  925YR,  950YR,  975YR,  1000YR,  1025YR,  1050YR,  1075YR,  1100YR,  1125YR,  1150YR,  1175YR,  1200YR,  1225YR,  1250YR,  1275YR,  1300YR,  1325YR,  1350YR,  1375YR,  1400YR,  1425YR,  1450YR,  1475YR,  1500YR,  1525YR,  1550YR,  1575YR,  1600YR,  1625YR,  1650YR,  1675YR,  1700YR,  1725YR,  1750YR,  1775YR,  1800YR,  1825YR,  1850YR,  1875YR,  1900YR,  1925YR,  1950YR,  1975YR,  2000YR,  2025YR,  2050YR,  2075YR,  2100YR,  2125YR,  2150YR,  2175YR,  2200YR,  2225YR,  2250YR,  2275YR, ...]
Index: []

[0 rows x 130 columns]

In [30]:
#there are 407 bonds that has NAN as maturity (from g) because limit value 0.007 is still too large
df_hasnull = df[df['TotalCoupons'].isnull()]
df_hasnull.iloc[: , -1]

301      NaN
305      NaN
308      NaN
554      NaN
850      NaN
          ..
121881   NaN
122700   NaN
123184   NaN
123690   NaN
124738   NaN
Name: TotalCoupons, Length: 407, dtype: float64

In [31]:
#apply h function to those that can not be solved by h function
df_hasnull['TotalCoupons'] = df_hasnull.apply(h, axis=1)
df_hasnull.iloc[: , -1]

C:\ANACONDA3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

301       28
305       28
308       29
554       12
850       29
          ..
121881    13
122700    10
123184    12
123690    26
124738    54
Name: TotalCoupons, Length: 407, dtype: int64

In [32]:
#combine df_negative with dfn, which is the same as df
dfb.loc[df_negative.index, :] = df_negative[:]
dfb

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate,025YR,...,2800YR,2825YR,2850YR,2875YR,2900YR,2925YR,2950YR,2975YR,3000YR,TotalCoupons
0,2018-12-12,122.100715,1,0.088347,0.048157,2,101000,Yes,0.088347,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,30.0
1,2018-12-12,65.558537,2,0.125639,0.085450,5,83000,Yes,0.062820,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,54.0
2,2018-12-12,89.527186,2,0.067280,0.027090,5,95000,Yes,0.033640,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,54.0
3,2018-12-12,90.784587,2,0.067107,0.026917,5,86000,Yes,0.033553,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,40.0
4,2018-12-12,113.345120,1,0.074391,0.034201,2,104000,Yes,0.074391,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124804,2005-09-07,107.266264,1,0.119937,0.071007,15,104000,Yes,0.119937,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,22.0
124805,2005-09-07,87.826566,2,0.068989,0.020059,31,100000,Yes,0.034494,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,42.0
124806,2005-09-07,109.102035,1,0.063815,0.014886,15,101000,Yes,0.063815,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,22.0
124807,2005-09-07,77.202560,2,0.085065,0.036136,31,98000,Yes,0.042533,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,52.0
124808,2005-09-07,81.911740,2,0.077403,0.028474,31,99000,Yes,0.038702,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,44.0

In [33]:
#combine df_hasnull with dfn
dfb = dfb.combine_first(df_hasnull)
dfb

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate,025YR,...,2800YR,2825YR,2850YR,2875YR,2900YR,2925YR,2950YR,2975YR,3000YR,TotalCoupons
0,2018-12-12,122.100715,1,0.088347,0.048157,2,101000,Yes,0.088347,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,30.0
1,2018-12-12,65.558537,2,0.125639,0.085450,5,83000,Yes,0.062820,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,54.0
2,2018-12-12,89.527186,2,0.067280,0.027090,5,95000,Yes,0.033640,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,54.0
3,2018-12-12,90.784587,2,0.067107,0.026917,5,86000,Yes,0.033553,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,40.0
4,2018-12-12,113.345120,1,0.074391,0.034201,2,104000,Yes,0.074391,0.016468,...,0.022813,0.022796,0.022779,0.022762,0.022746,0.022729,0.022713,0.022697,0.022681,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124804,2005-09-07,107.266264,1,0.119937,0.071007,15,104000,Yes,0.119937,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,22.0
124805,2005-09-07,87.826566,2,0.068989,0.020059,31,100000,Yes,0.034494,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,42.0
124806,2005-09-07,109.102035,1,0.063815,0.014886,15,101000,Yes,0.063815,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,22.0
124807,2005-09-07,77.202560,2,0.085065,0.036136,31,98000,Yes,0.042533,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,52.0
124808,2005-09-07,81.911740,2,0.077403,0.028474,31,99000,Yes,0.038702,0.027868,...,0.042067,0.042021,0.041979,0.041939,0.041903,0.041869,0.041838,0.041811,0.041786,44.0

In [34]:
#check if there is any TotalCoupon that is not filled, none!
dfb[dfb['TotalCoupons'].isnull()]

Empty DataFrame
Columns: [Date, PriceAtCoupon0(%), Number, YearlyRate, Spread, CurrentCouponNumbers, FaceValue, Corporate, CouponRate,  025YR,  050YR,  075YR,  100YR,  125YR,  150YR,  175YR,  200YR,  225YR,  250YR,  275YR,  300YR,  325YR,  350YR,  375YR,  400YR,  425YR,  450YR,  475YR,  500YR,  525YR,  550YR,  575YR,  600YR,  625YR,  650YR,  675YR,  700YR,  725YR,  750YR,  775YR,  800YR,  825YR,  850YR,  875YR,  900YR,  925YR,  950YR,  975YR,  1000YR,  1025YR,  1050YR,  1075YR,  1100YR,  1125YR,  1150YR,  1175YR,  1200YR,  1225YR,  1250YR,  1275YR,  1300YR,  1325YR,  1350YR,  1375YR,  1400YR,  1425YR,  1450YR,  1475YR,  1500YR,  1525YR,  1550YR,  1575YR,  1600YR,  1625YR,  1650YR,  1675YR,  1700YR,  1725YR,  1750YR,  1775YR,  1800YR,  1825YR,  1850YR,  1875YR,  1900YR,  1925YR,  1950YR,  1975YR,  2000YR,  2025YR,  2050YR,  2075YR,  2100YR,  2125YR,  2150YR,  2175YR,  2200YR,  2225YR,  2250YR,  2275YR, ...]
Index: []

[0 rows x 130 columns]

In [35]:
dfb.iloc[: , -1]

0         30.0
1         54.0
2         54.0
3         40.0
4          9.0
          ...
124804    22.0
124805    42.0
124806    22.0
124807    52.0
124808    44.0
Name: TotalCoupons, Length: 124809, dtype: float64

# Q1 (b)

In [36]:
#to be paid is the remaining coupons for a bond
dfb['CouponsRemain'] = dfb['TotalCoupons'] -  dfb['CurrentCouponNumbers']
dfb.iloc[: , -1]

0         28.0
1         49.0
2         49.0
3         35.0
4          7.0
          ...
124804     7.0
124805    11.0
124806     7.0
124807    21.0
124808    13.0
Name: CouponsRemain, Length: 124809, dtype: float64

In [37]:
#see if there is any negative or zero "To be paid" bonds, none!
dfb[dfb['CouponsRemain'] <= 0]

Empty DataFrame
Columns: [Date, PriceAtCoupon0(%), Number, YearlyRate, Spread, CurrentCouponNumbers, FaceValue, Corporate, CouponRate,  025YR,  050YR,  075YR,  100YR,  125YR,  150YR,  175YR,  200YR,  225YR,  250YR,  275YR,  300YR,  325YR,  350YR,  375YR,  400YR,  425YR,  450YR,  475YR,  500YR,  525YR,  550YR,  575YR,  600YR,  625YR,  650YR,  675YR,  700YR,  725YR,  750YR,  775YR,  800YR,  825YR,  850YR,  875YR,  900YR,  925YR,  950YR,  975YR,  1000YR,  1025YR,  1050YR,  1075YR,  1100YR,  1125YR,  1150YR,  1175YR,  1200YR,  1225YR,  1250YR,  1275YR,  1300YR,  1325YR,  1350YR,  1375YR,  1400YR,  1425YR,  1450YR,  1475YR,  1500YR,  1525YR,  1550YR,  1575YR,  1600YR,  1625YR,  1650YR,  1675YR,  1700YR,  1725YR,  1750YR,  1775YR,  1800YR,  1825YR,  1850YR,  1875YR,  1900YR,  1925YR,  1950YR,  1975YR,  2000YR,  2025YR,  2050YR,  2075YR,  2100YR,  2125YR,  2150YR,  2175YR,  2200YR,  2225YR,  2250YR,  2275YR, ...]
Index: []

[0 rows x 131 columns]

In [38]:
#extract aug 25, 2021 rates from yield curves (df2) to price bonds
rfrs_aug_25 = df2.iloc[-1, 1:]
rfrs_aug_25

 025YR     0.0018558
 050YR     0.0020267
 075YR      0.002389
 100YR     0.0027514
 125YR     0.0030336
             ...
 2900YR     0.018839
 2925YR     0.018857
 2950YR    0.0188742
 2975YR    0.0188906
 3000YR    0.0189062
Name: 7580, Length: 120, dtype: object

In [39]:
#calculate bond prices based on aug 25 rates (last coupon price), run time should be less than 1 min
dfb['Aug25PriceAtLastCoupon'] = dfb.apply(lambda x: present_value(rfrs = rfrs_aug_25, spr = x['Spread'], 
                                                               c = x['CouponRate'], m = int(x['CouponsRemain']), 
                                                               n = x['Number']), axis = 1)

In [40]:
dfb.iloc[: , -1]

0         130.806700
1          68.921378
2          96.698545
3          98.266782
4         117.743076
             ...
124804    120.289158
124805    109.474431
124806    124.552828
124807    100.259715
124808    105.604650
Name: Aug25PriceAtLastCoupon, Length: 124809, dtype: float64

In [41]:
import datetime
from datetime import date
from dateutil.relativedelta import relativedelta

In [42]:
#this function is to adjust the last coupon price up to real Aug 25 price, which is the dirty price
def adjustfactor(row):
    date = row['Date']
    current = row['CurrentCouponNumbers']
    today = datetime.datetime(2021, 8, 25)
    n = row['Number']
    spr = row['Spread']
    if n == 1:
        last_coupon_date = date + relativedelta(months = +current*12)
        delta = (today -last_coupon_date).days
        adjust_factor = (1 + spr + rfrs_aug_25[3])**(delta/365)
        
    elif n == 2:
        last_coupon_date = date + relativedelta(months = +current*6)
        delta = (today -last_coupon_date).days
        adjust_factor = (1 + spr + rfrs_aug_25[1]/2)**(delta/183)
        
    elif n == 4:
        last_coupon_date = date + relativedelta(months = +current*3)
        delta = (today -last_coupon_date).days
        adjust_factor = (1 + spr + rfrs_aug_25[0]/4)**(delta/91)
    return(adjust_factor)

In [43]:
dfb['Adjustfactor'] = dfb.apply(adjustfactor, axis = 1)
dfb.iloc[: , -1]

0         1.035440
1         1.034102
2         1.011271
3         1.011202
4         1.025776
            ...
124804    1.071041
124805    1.019677
124806    1.017004
124807    1.034672
124808    1.027527
Name: Adjustfactor, Length: 124809, dtype: float64

In [44]:
dfb['Aug25DirtyPrice'] = dfb['Aug25PriceAtLastCoupon'] * dfb['Adjustfactor']
dfb.iloc[: , -1]

0         135.442523
1          71.271739
2          97.788401
3          99.367520
4         120.778070
             ...
124804    128.834586
124805    111.628612
124806    126.670680
124807    103.735870
124808    108.511662
Name: Aug25DirtyPrice, Length: 124809, dtype: float64

In [45]:
#Actualprice is adjusted with FaceValue for each bond, will be used in 1(c)
dfb['Aug25DirtyPriceWithFV'] = dfb['Aug25DirtyPrice'] * dfb['FaceValue']/100
dfb.iloc[: , -1]

0         136796.948598
1          59155.543330
2          92898.981115
3          85456.067568
4         125609.192304
              ...
124804    133987.969347
124805    111628.612399
124806    127937.386812
124807    101661.152991
124808    107426.545459
Name: Aug25DirtyPriceWithFV, Length: 124809, dtype: float64

# Q1 (c)

In [46]:
#Annualized spread = (periodical) spread * payment period
dfb['AnnualizedSpread'] = dfb['Spread'] * dfb['Number']
dfb.iloc[: , -1]

0         0.048157
1         0.170899
2         0.054181
3         0.053833
4         0.034201
            ...
124804    0.071007
124805    0.040119
124806    0.014886
124807    0.072272
124808    0.056948
Name: AnnualizedSpread, Length: 124809, dtype: float64

In [47]:
#rank annualized spread based on specific percentile, so we can assign PD based on their ratings
Spread_Quartile = dfb['AnnualizedSpread'].astype(float).quantile([0, 0.05, 0.20, 0.40, 0.60, 0.75, 0.90, 1])
Spread_Quartile

0.00    0.000101
0.05    0.011202
0.20    0.033796
0.40    0.058478
0.60    0.084360
0.75    0.117506
0.90    0.172866
1.00    0.600000
Name: AnnualizedSpread, dtype: float64

In [48]:
#Another way to check our annualizedspread percentail rank
print("5 percentile annualized spread is", np.quantile(dfb['AnnualizedSpread'], 0.05))
print("20 percentile annualized spread is", np.quantile(dfb['AnnualizedSpread'], 0.20))
print("40 percentile annualized spread is", np.quantile(dfb['AnnualizedSpread'], 0.40))
print("60 percentile annualized spread is", np.quantile(dfb['AnnualizedSpread'], 0.60))
print("75 percentile annualized spread is", np.quantile(dfb['AnnualizedSpread'], 0.75))
print("90 percentile annualized spread is", np.quantile(dfb['AnnualizedSpread'], 0.90))

5 percentile annualized spread is 0.0112020499013506
20 percentile annualized spread is 0.0337962821890598
40 percentile annualized spread is 0.058478470289440414
60 percentile annualized spread is 0.0843598271209384
75 percentile annualized spread is 0.1175060520461992
90 percentile annualized spread is 0.17286558519757517

In [49]:
#5 percentile annualized spread is 0.0112020499013506
#20 percentile annualized spread is 0.0337962821890598
#40 percentile annualized spread is 0.058478470289440414
#60 percentile annualized spread is 0.0843598271209384
#75 percentile annualized spread is 0.1175060520461992
#90 percentile annualized spread is 0.17286558519757517
def PD(AnnualizedSpread):
    if AnnualizedSpread < 0.0112020499013506:   #rating AAA
        PD = 0.001 
    elif AnnualizedSpread < 0.0337962821890598:    #rating AA
        PD = 0.01
    elif AnnualizedSpread < 0.058478470289440414:    #rating A
        PD = 0.12
    elif AnnualizedSpread < 0.0843598271209384:   #rating BBB
        PD = 0.36
    elif AnnualizedSpread < 0.1175060520461992:  #rating BB
        PD = 0.52
    elif AnnualizedSpread < 0.17286558519757517:   #rating B
        PD = 0.75
    #if SpreadDecile >= 0.9:  #rating CCC
    else:
        PD = 0.85
    return PD

In [50]:
#assign PD to each bond based on their spreaddecile
dfb['PD'] = dfb.apply(lambda x: PD(x['AnnualizedSpread']),axis=1)
dfb.iloc[: , -1]

0         0.12
1         0.75
2         0.12
3         0.12
4         0.12
          ...
124804    0.36
124805    0.12
124806    0.01
124807    0.36
124808    0.12
Name: PD, Length: 124809, dtype: float64

In [51]:
#see the number of bonds that are AAA rated, which is like 5% of all bonds
dfb[dfb['PD']<0.01]

,Date,PriceAtCoupon0(%),Number,YearlyRate,Spread,CurrentCouponNumbers,FaceValue,Corporate,CouponRate,025YR,...,2975YR,3000YR,TotalCoupons,CouponsRemain,Aug25PriceAtLastCoupon,Adjustfactor,Aug25DirtyPrice,Aug25DirtyPriceWithFV,AnnualizedSpread,PD
50,2000-12-05,106.138748,2,0.070940,0.005000,41,93000,No,0.035470,0.054998,...,0.051920,0.051631,52.0,11.0,126.989119,1.002657,127.326555,118413.695699,0.010000,0.001
121,1999-02-19,114.282495,2,0.074156,0.004871,45,103000,Yes,0.037078,0.049118,...,0.052684,0.052517,50.0,5.0,114.410337,1.000192,114.432348,117865.317954,0.009742,0.001
123,1999-02-19,117.485089,2,0.073305,0.004020,45,99000,Yes,0.036652,0.049118,...,0.052684,0.052517,60.0,15.0,138.106399,1.000165,138.129134,136747.842385,0.008039,0.001
153,2001-08-21,97.190995,2,0.064741,0.004694,40,100000,Yes,0.032370,0.038866,...,0.053310,0.052817,48.0,8.0,118.329746,1.000124,118.344466,118344.466290,0.009388,0.001
160,2001-08-21,98.303215,2,0.063792,0.003746,40,114000,Yes,0.031896,0.038866,...,0.053310,0.052817,44.0,4.0,110.224586,1.000104,110.236026,125669.069307,0.007492,0.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124707,1998-12-02,113.802557,4,0.068712,0.001709,90,98000,No,0.017178,0.047036,...,0.052856,0.052399,112.0,22.0,127.779350,1.002005,128.035610,125474.898285,0.006835,0.001
124709,1998-12-02,122.135149,1,0.076173,0.009170,22,122000,Yes,0.076173,0.047036,...,0.052856,0.052399,30.0,8.0,141.000870,1.008674,142.223917,173513.179187,0.009170,0.001
124710,1998-12-02,119.927685,2,0.068628,0.001625,45,111000,Yes,0.034314,0.047036,...,0.052856,0.052399,58.0,13.0,134.515409,1.001210,134.678190,149492.790488,0.003250,0.001
124750,1998-03-24,115.774510,1,0.068483,0.000787,23,104000,Yes,0.068483,0.046098,...,0.057234,0.057250,28.0,5.0,128.697737,1.001491,128.889654,134045.240583,0.000787,0.001
124751,1998-03-24,107.731521,2,0.072861,0.005164,46,190000,Yes,0.036430,0.046098,...,0.057234,0.057250,50.0,4.0,111.414382,1.005196,111.993295,212787.259594,0.010328,0.001

In [52]:
#calculate b
from scipy.stats import norm
def find_b(PD):
  b = (0.11852-0.05487*np.log(PD))**2
  return b

In [53]:
dfb['b'] = dfb.apply(lambda x: find_b(x['PD']), axis = 1)
dfb.iloc[: , -1]

0         0.055159
1         0.018038
2         0.055159
3         0.055159
4         0.055159
            ...
124804    0.030477
124805    0.055159
124806    0.137794
124807    0.030477
124808    0.055159
Name: b, Length: 124809, dtype: float64

In [54]:
#I think I remember we should treat all bonds as subordinated, so LGD = 0.75
dfb['LGD'] = dfb.apply(lambda x: 0.75, axis = 1)
dfb.iloc[: , -1]

0         0.75
1         0.75
2         0.75
3         0.75
4         0.75
          ...
124804    0.75
124805    0.75
124806    0.75
124807    0.75
124808    0.75
Name: LGD, Length: 124809, dtype: float64

In [55]:
def capital_requirement_corporate(PD,LGD,b,M):
  # First part of the equation, lower correlation
  R =  0.12 * ( (1 - np.exp(-50 * PD)) / (1 - np.exp(-50)) )
  # Second part of the equation, higher correlation 
  R += 0.24 * (1 - ( (1 - np.exp(-50 * PD)) / (1 - np.exp(-50)) ) )
  # Now we can calculate the capital
  K = norm.cdf(np.sqrt( (1 - R) ** (-1) ) * norm.ppf(PD) + 
               np.sqrt( R / (1 - R) ) * norm.ppf(0.999) ) - PD
  K *= LGD*((1+(M-2.5)*b)/(1-1.5*b))
  return K

In [57]:
#this should take about 1 min to run
dfb['Capi_req_Percent'] = dfb.apply(lambda x: capital_requirement_corporate(x.PD, x.LGD, x.b, x.TotalCoupons),axis = 1)
dfb.iloc[: , -1]

0         0.691880
1         0.324998
2         1.055792
3         0.843510
4         0.373457
            ...
124804    0.521357
124805    0.873836
124806    0.454090
124807    0.820351
124808    0.904162
Name: Capi_req_Percent, Length: 124809, dtype: float64

In [58]:
dfb['Capi_req_amount'] = dfb.apply(lambda x: x.FaceValue * x.Capi_req_Percent,axis = 1)
dfb.iloc[: , -1]

0          69879.858991
1          26974.875358
2         100300.195711
3          72541.832859
4          38839.529862
              ...
124804     54221.100525
124805     87383.566289
124806     45863.129137
124807     80394.359702
124808     89512.002497
Name: Capi_req_amount, Length: 124809, dtype: float64

In [59]:
Total_Capital_requirement = np.sum(dfb.Capi_req_amount)
Total_Capital_requirement#.round(3)

7713223652.385595

In [60]:
# Provisions (Expected Loss) = PD * EAD * LGD
dfb['Provisions'] =  dfb['PD'] * dfb['Aug25DirtyPriceWithFV'] * dfb['LGD']
dfb.iloc[: , -1]

0         12311.725374
1         33274.993123
2          8360.908300
3          7691.046081
4         11304.827307
              ...
124804    36176.751724
124805    10046.575116
124806      959.530401
124807    27448.511308
124808     9668.389091
Name: Provisions, Length: 124809, dtype: float64

In [61]:
Total_Provisions = np.sum(dfb.Provisions)
Total_Provisions #.round(3)

3080565806.034476

In [62]:
max(dfb['AnnualizedSpread'])

0.6

In [63]:
min(dfb['AnnualizedSpread'])

0.0001013594477098

In [64]:
#identify the bounds for the spread for each segment
np.percentile(dfb['AnnualizedSpread'], np.arange(0, 100, 5))

array([1.01359448e-04, 1.12020499e-02, 2.01277128e-02, 2.75751441e-02,
       3.37962822e-02, 3.96123189e-02, 4.55889463e-02, 5.21543467e-02,
       5.84784703e-02, 6.46623784e-02, 7.07804430e-02, 7.70302366e-02,
       8.43598271e-02, 9.30265168e-02, 1.04080961e-01, 1.17506052e-01,
       1.32206954e-01, 1.49030184e-01, 1.72865585e-01, 2.20000000e-01])

In [65]:
#Try to make a table for above results
Rating = ["AAA", "AA", "A", "BBB", "BB" , "B", "CCC", "D"]
Lower_Spread_Bound = [1.01359448e-04, 1.12020499e-02, 3.37962822e-02, 5.84784703e-02, 8.43598271e-02, 1.17506052e-01, 1.72865585e-01, "NA"]
Upper_Spread_Bound = [1.12020499e-02, 3.37962822e-02, 5.84784703e-02, 8.43598271e-02, 1.17506052e-01, 1.72865585e-01, 0.6, "NA" ]

titles = ['Ratings', 'Lower Bound', 'Upper Bound']
data = [titles] + list(zip(Rating, Lower_Spread_Bound, Upper_Spread_Bound))

for i, d in enumerate(data):
    line = '|'.join(str(x).ljust(12) for x in d)
    print(line)
    if i == 0:
        print('-' * len(line))

Ratings     |Lower Bound |Upper Bound
--------------------------------------
AAA         |0.000101359448|0.0112020499
AA          |0.0112020499|0.0337962822
A           |0.0337962822|0.0584784703
BBB         |0.0584784703|0.0843598271
BB          |0.0843598271|0.117506052
B           |0.117506052 |0.172865585
CCC         |0.172865585 |0.6
D           |NA          |NA